.ShortDiv {
  height: auto;
  margin-top: 0px;
  background: none;
}

.ShortDiv input {
  margin-top: 30px;
  margin-left: 250px;
  height: 60px;
  width: 700px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}

.ShortDiv button {
  margin: 0 30px;
  height: 60px;
  width: 170px;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
}
@media (max-width: 419px) {
  .ShortDiv {
    background: rgb(6, 34, 95);
  }
  .ShortDiv input {
    margin: 30px 20px;
    height: 50px;
    width: 85%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }

  .ShortDiv button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-left: 140px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1023px) {
  .ShortDiv {
    background: rgb(6, 34, 95);
  }
  .ShortDiv input {
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 80px;
  }

  .ShortDiv button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-right: 80px;
  }
}

@media (min-width: 412px) and (max-width: 1030px) {
  .ShortDiv {
    background: rgb(6, 34, 95);
  }
  .ShortDiv input {
    height: 50px;
    width: 70%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 40px;
  }

  .ShortDiv button {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 30px;
    margin-right: 10px;
  }
}
